<h1>Home</h1>

<a asp-controller="home" asp-action="logoff">logoff</a>
<p/>
<a asp-controller="admin" asp-action="index">login</a>
<p />

<a asp-controller="admin" asp-action="administrator">administrator role</a>
<p />

<p>IsAuthenticated: @ViewBag.IsAuthenticated</p>
<p>Name: @ViewBag.Name</p>
    
